body * {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'BioRhyme', serif;
  text-shadow: 3px 3px black;
  background: url(https://wallpapercave.com/wp/RyLpppm.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  text-align: center;
  color: white;
  padding: 60px;
  padding-bottom: 150px;
}

.box h5 {
  position: relative;
  bottom: 30px;
  margin-bottom: 5px;
}

.thor,
.hulk {
  width: 80%;
  margin-top: 30px;
}

.iron-man {
  width: 80%;
  margin-top: 15px;
}

.thanos {
  width: 80%;
  margin-top: 20px;
}

h4 {
  margin: 15px;
}

.box p {
  margin-bottom: 10px;
}

.box {
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 5px;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(0,0,0,0.6);
  padding:20px;
}

.button,
.next-button {
  padding: 15px 25px;
  font-size: 18px;
  font-family: 'BioRhyme', serif;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #1E90FF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button:hover,
.next-button:hover {
  background-color: #0000FF
}

.button:active,
.next-button:active {
  background-color: #0000FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#score-counter {
  font-size: 20px;
}

.error-message {
  color: red;
}

fieldset {
  border: 0;
  padding: 0;
}

